{% extends 'base.html.twig' %}

{% block description %}
	Suivez les conférences du numérique partout en France et partagez celles qui vous intéressent.
{% endblock %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
	<div class="container" id="error">
    	<h1>Erreur</h1>


		{% image '@WACodenconfBundle/Resources/public/images/404.svg' %}
				<img class="img-responsive" align="middle" src="{{ asset_url }}" alt="Erreur 404" />
		{% endimage %}

		<div class="center">

			<div>La page demandée n'existe pas.</div>

    		<a href="{{ path('wa_codenconf_accueil') }}" title="Retour accueil du site">Retourner à l'accueil du site</a>
    	</div>
	</div> 
{% endblock %}