 #administration h2{
	text-align: center;
    font-size: 25pt;
    text-transform: uppercase;
    color: @bleu;
    padding-bottom: 50px;
    padding-top: 50px;
}


.bottom-nav ul li{
	background-color:#2d3438;
	width:100px;
	float: left;
	list-style: none;
	cursor:pointer;
	text-align: center;
	padding:16px 0 0 0;
	height:90px;
	min-width: 25%;
	padding-bottom: 15px;
}


.bottom-nav ul li i{
	color:@bleu;
	font-size:20px;
	margin-top: -5px;
	min-width: 25%;
}

.bottom-nav ul li h4{
	color:@bleu;
	
	}

.bottom-nav ul li h4 a{
	color:@bleu;
	font-size:13px;
	padding-left: 15px;
	}


.table-bordered th{
    background-color: #f2f3f6;
    border: 2px solid #ddd;
}

.table-bordered {
border: 2px solid #ddd;
}

#administration th{  
	font-weight:bold;
}
#administration td{
	background:#fff;
}

.btn_search{
	margin-top: 5px;
}

/*##############\*
    Responsive
\*##############*/

