#agenda{
	#calendrier{
		text-align: center;
		h1{
			font-size: 25pt;
			text-transform: uppercase;
			color: @bleu;
			padding-bottom: 15px;
		}	
	}	
	#telechargement_ics{
		text-align: center;
		padding: 50px;
		button{
			text-align: center;
			height: 3em;
			width: 15em;
		}
	}
}