.btn{
    transition: .5s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);  
}

.btn-primary{
    text-align: center;
    cursor: pointer;
    background: @bleu;
    color: @white;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 4px;
    text-transform: uppercase;
 
  &:hover{
    background: @bleu_fonce;
  }
  &:focus{
    position: relative;
    top: 2px;
  }
  
}
