

#saisie h2{
    text-align: center;
    text-transform: uppercase;
    color: @bleu;
    font-size: 12pt;
    padding-bottom: 12px;
  }


#saisie h1{
    text-align: center;
    font-size: 25pt;
    text-transform: uppercase;
    color: @bleu;
  }



.saisie_conf{
  width: 90%;
  padding: 15px;
  margin: 50px auto;

  .title-bar{
    margin: 1px auto 10px auto;
    width: 100px;
    border-bottom: 1px solid @gris;
  }

  #ajout_conf{
    input[type="text"], input[type="date"], textarea{
      display: block;
      padding: 10px;
      margin: 10px auto;
      width: 90%;
      font-size: 18px;
      color: @gris;
      border: 1px solid @gris;
      color: @black;
      h2{ 
        text-align: center;
        text-transform: uppercase;
        color: @bleu;
        font-size: 12pt;
        padding-bottom: 0;
      }
    }
    textarea{
      font-size: 16px;
      max-width: 90%;
      min-width: 90%;
      height: 162px;
      max-height: 162px;
      min-height: 140px;
      resize: none;
    }
    input:hover, textarea:hover{
      border: 1px solid @bleu;
    }
    input:focus, textarea:focus{
      border: 1px solid @gris;
      color: @black;
    }

    #checkbox{
      text-align: center;
      padding-right: 15px;
    }

    #selection_lang{
      text-align: center;
    } 

    #confirmation_saisie{
      padding-top: 50px;
    }
  }
}




/*##############\*
    Responsive
\*##############*/

@media screen and (min-width: 640px){
  .saisie_conf{
    width: 600px;
  }
}