.arrow_container {
	text-align: center;	
	position: absolute;
    bottom: 90px;
    width: 100%;
	.arrow_up {
		text-decoration: none !important;
		//transform:translate(0,1em);
        //transition:.3s ease-in-out;
		i{
			top: 46px;
			font-size: 2.5em;
			margin-top: 15px;
			color: @bleu;
			&:hover{
			//transform:translate(0,-1em);
        	//transition:.3s ease-in-out;
        	-webkit-animation:up 1s linear infinite;
		    -moz-animation:up 1s linear infinite;
		    animation:up 1s linear infinite;
		}
		}
		
	}
}

@-moz-keyframes up { 25% { -moz-transform: translate(0,-0.25em);} 100% { -moz-transform: translate(0,0);} }
@-webkit-keyframes up { 25% { -webkit-transform: translate(0,-0.25em);} 100% { -webkit-transform: translate(0,0);} }
@keyframes up { 25% { transform: translate(0,-0.25em);} 100% { transform: translate(0,0);} }

footer {
	background-color: @white;
	height: 70px;
	margin-top: 15px;
	font-weight: 300;
	font-family: "roboto";
	font-size: 0.9em;
	position: absolute;
    bottom: 0;
    width: 100%;

	.content, .container {
		height: inherit;
		.row {
			.align-vertical();
			height: inherit;
		}
		.logo_sociaux {
			-webkit-justify-content: flex-end;
			justify-content: flex-end;
			.align-vertical();			
			img.img_iut{height: 35px;}
			i, a, img {
				padding: 0 10px;
			}

		}
		.menu_footer {
			margin-bottom: 0;
			li {
				display: inline-block;
				list-style: none;
				&:not(:last-child):after {
					content: " |";
				}
				a {
					font-size: 1.1em;
					/* font-weight: bold; */
					color: @bleu;
				}
			}
		}
	}
	.container {
		#licence-creative-commons{
			border-width: 0;
		}
	}
}
