#contenu-mentions-legales{
	margin: 2.5em 6em 2.5em 6em;
	h1 {
		font-size: 50px;
	}
	h2 {
		padding-top: 30px;
		padding-bottom: 10px;
		font-size: 24px;
	}
	p {
		font-size: 14px;
		line-height: 22px;
		margin:0;
		text-align: justify;
	}
	a{
		color: @bleu;
	}
}