.align-vertical() {
display: -webkit-box; 
display: -ms-flexbox;
display: -webkit-flex; 
display: flex;        
align-items: center;
}

.material_shadow() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}