.pagination{
  li{
      a{
          color:@bleu;
      }
      a:hover{
            color:@bleu_fonce;
      }
    }
    .active{
        a{
        background-color:@bleu;
        border-color:@bleu;
      }
      a:hover{
        background-color:@bleu_fonce;
        border-color:@bleu_fonce;
      }

    }
}
