.profil{

  profil_name img,
  profil_name .pseudo{
    display: inline-block;
    vertical-align: middle;
  }

  .profil_name{
  	margin-bottom:15px;
    .align-vertical();
    .profil_avatar {
      display: inline-flex;
      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
    img{
      border-radius: 50%;
      margin-right: 0.6em;
      margin: 10px;
    }
  }

  .profil_pseudo{
  	font-size: 2em;
  }

  .profil_desc{
  	.labl{
  		font-weight:bold;
  	}
    div{
      padding-bottom:5px;
      margin-bottom:5px;

      &:not(first-child){
        border-bottom:1px solid @gris;
      }
    }
  }


}

.imageProfil {
  .align-vertical();
}