.section_hidden {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  input[type=checkbox] + label:before { content: "\f13a";margin-right: 10px; }
  input[type=checkbox]:checked + label:before { content: "\f139";  }

  input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
  
  input:checked {
  +label{
    +.content{
        height: auto;
        transform: translateY(1x);
      }
    }
    
  }


}





.section_hidden_item {
  margin-top:20px;
  label {
    display: block;
    padding: 1em;
    background-color: @bleu;
    color: @white;
    font-weight: bold;
    cursor: pointer;
    

    &:hover {
      background-color: @bleu_fonce;
    }

  }

  .content{
  height: 0;
  transform-origin: 0 0;
  transform: translateY(1x);
  transition-property: transform, height;
  transition-duration: 0.3s;
  overflow: hidden;
  }
}
