// éléments de "une conférence"

.une_conf {
	.titre_conf {
		text-align: center;
		font-family: "montserrat";
		padding: 10px 0 40px 0;

		h1 {
			font-size: 2.5em;
		}
		h2 {
			font-size: 1.2em;
			font-family: "montserratlight";
		}
		hr {
			width: 50%;
			border: none;
			height: 1px;
			color: @bleu; /* old IE */
			background-color: @bleu; /* Modern Browsers */
		}
	}

	.onglets ul {
		padding-left: 0;
		font-family: "montserrat";
		font-weight: lighter;

		li {
			padding: 10px 0;
			list-style: none;
			text-align: center;
			background-color: @gris_onglet;
			max-height: 41px;

			&.hidden-xs {
				background-color: @gris_bgc;
			}
			&.active, &:hover {
				background-color: @white;
				a {color: @bleu !important;}
			}

		}
	} 

	.desc_conf {
		.rating {
			text-align: center;
			img{
		      width:20px;
		      display:inline;
		    }
		    .glyphicon-heart, .glyphicon-heart-empty {color: @rouge;}
			.fav_conf {
				cursor: pointer;
				cursor: hand;
				-webkit-transition: all .2s ease-in;
				-webkit-transform: scale(1); 
				-ms-transition: all .2s ease-in;
				-ms-transform: scale(1); 
				-moz-transition: all .2s ease-in;
				-moz-transform: scale(1);
				transform: scale(1);
				transition: .2s ease-in;
				&:hover{
					cursor: hand;
					-webkit-transition: all .3s ease-in;
					-webkit-transform: scale(1.2); 
					-ms-transition: all .3s ease-in;
					-ms-transform: scale(1.2); 
					-moz-transition: all .3s ease-in;
					-moz-transform: scale(1.2);
					transform:scale(1.2);
					transition: .3s ease-in;   
				}
			}
		    .btn-primary{
		    	width: auto;
		    	padding: 2px 5px 1px 5px;
		    	font-size: 12px;
		    }

		}

	.container_img{
		background-color: @white;
		margin-bottom: 15px;
		.material_shadow();
		img{
			margin-bottom: 15px;
			margin-top: 15px;
			margin: auto;
			width: 80%;
		}
	}

		.container_desc {
			.onglets{
				#description:hover, #informations:hover{
					cursor: pointer;
				}
			}
			.contenu_desc {
				background-color: @white;
				padding: 20px;
				.material_shadow();
			}
		}
	}
	.rates_coms {
		padding-top: 50px;
		.onglets{
			#coms:hover, #rates:hover{
				cursor: pointer;
			}
		}
		.container_coms {
			background-color: @white;
			padding-bottom: 15px;
			.material_shadow();	
			.row {
				&.right_chat {
					-webkit-flex-direction: row-reverse; /* Safari */
					flex-direction:         row-reverse;
					.badge_user {
						float: right;
					}
					.bubble:before, .bubble:after {
						right: 0;
					}
					.bubble.bubble-border:before, .bubble.bubble-border:after {
						border-top: 1px solid #aaa;
						border-right: 1px solid #aaa;
					}	
				}
				&.left_chat {
					.bubble:before, .bubble:after {
						left: -16px;
					}
					.bubble.bubble-border:before, .bubble.bubble-border:after {
						border-bottom: 1px solid #aaa;
						border-left: 1px solid #aaa;
					}
				}
				&.right_chat, &.left_chat {
					.align-vertical();

				}


				
				.bubble {
					margin-top: 1em;
					max-width: 100%;
					position: relative;
					border-radius: 0.5em;
					padding: 1em;
					box-sizing: border-box;
					box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
				}

				.bubble:before, .bubble:after {
					content: "";
					display: block;
					width: 1em;
					height: 1em;
					position: absolute;
					top: 50%;
					-webkit-transform: translate(54%, -50%) rotate(45deg);
					-ms-transform: translate(54%, -50%) rotate(45deg);
					transform: translate(54%, -50%) rotate(45deg);
				}
				
				
				.bubble:before {
					box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
					z-index: -1;
				}

				.bubble.bubble-border {
					border: 1px solid #aaa;
					background: #fff;
					color: #333;
				}
				.bubble.bubble-border:before, .bubble.bubble-border:after {
					background: #fff;
				}
				.bubble.bubble-fill {
					background: #333;
					color: #ccc;
				}
				.bubble.bubble-fill:before, .bubble.bubble-fill:after {
					-webkit-transform: translate(50%, -50%) rotate(45deg);
					-ms-transform: translate(50%, -50%) rotate(45deg);
					transform: translate(50%, -50%) rotate(45deg);
					background: #333;
				}

				// Badge user 

				.media {
					padding-top: 23px;
					img {
						width: 75px;
						height: 75px;
						
						&.dp {
							border:5px solid #eee;
							transition: all 0.2s ease-in-out;
							&:hover {
								border:2px solid #eee;
								transform:rotate(360deg);
								-ms-transform:rotate(360deg);  
								-webkit-transform:rotate(360deg);  
								/*-webkit-font-smoothing:antialiased;*/
							}
						}						
					}
					span {
						padding-top: 5px;
					}
				}
				.date_coms {
					font-size: 0.7em;

				}
				.separateur {
					margin-top: 0;
				}

			}
			.commenter {
				.label-info {}
				.btn{
					width: auto;
					padding: 10px;
				}
				textarea.form-control {
					padding-bottom: 30px;
					margin: 15px 0 15px 0;	
				}
			}
		}
	}
	.container_rates {
		background-color: @white; 
		.material_shadow();
		.glyphicon { margin-right:5px;}
		.rating .glyphicon {font-size: 22px;}
		.rating-num { margin-top:0px;font-size: 54px; }
		.progress { margin-bottom: 5px;
			background-color: @gris; }
			.progress-bar { text-align: left; }
			.rating-desc{
				margin-top: 15px;
				.col-md-3 {padding-right: 0px;}
			}
			.sr-only { margin-left: 5px;overflow: visible;clip: auto; }
			.rates_center {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px 0 0 0;
				.rating {
					margin-bottom: 10px;
				}
				img{
					width:20px;
					display:inline;
				}
			}
		}
	}

div.star-rating, div.star-rating a {
    background: url(../images/star-rating.svg) no-repeat 0 0px;
    text-align: center;
}

div.star-rating-on a {
    background-position: 0 -20px!important;
}
div.star-rating-hover a {
    background-position: 0 -40px;
}
div.rating-cancel a, div.star-rating a {
    width: 20px;
}
div.rating-cancel, div.star-rating {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.notation{
	display: inline-block;			
	width: 180px;
    margin-left: auto;
    margin-right: auto;
}

