@import "_theme.less"; 
@import "_mixins.less";
@import "_menu.less";
@import "_header.less";
@import "_uneconf.less";
@import "_contact.less";
@import "_mentions_legales.less";
@import "_footer.less";
@import "_cards.less";
@import "_themefullcalendar.less";
@import "_pagination.less";
@import "_button.less";
@import "_agenda.less";
@import "_conferences_saisie.less";
@import "_profil.less";
@import "_section_hidden.less";
@import "_administration.less";
@import "toastr.less";
// always last
@import "_responsive.less";

html {
	position: relative;
	min-height: 100%;
}
body {
	background-color: #f5f5f5;
	font-family: 'roboto';
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 150px;

	h1, h2, h3, h4, h5 {
		font-family: 'montserrat';
	}
	a {
		color: @black;
		&:hover {
			text-decoration: none;
			color: @bleu;
		}
	}
	.glyphicon-star, .glyphicon-star-empty {
		color: @jaune;
	}
	.glyphicon-heart {
		color: @rouge;
	}

	.no_padding {
		padding: 0;
	}

	.no_margin {
		margin: 0;
	}
	.fa-facebook {color:@facebook;}
	.fa-twitter {color:@twitter;}
	.fa-google-plus {color:@googleP;}
	.modal-content {
		border-radius: 	0;
	}

	// Badge user 

	.media {
		text-align: center;
		img {
			width: 35px;
			height: 35px;
			&.dp {
				border:2px solid #eee;			
			}						
		}
		&.tall img {
			width: 135px !important;
			height: 135px !important;
		}
		span {
			display: block;
			padding-top: 5px;
		}
	}				
}



// Fil d'arianne / Breadcrumb

.breadcrumb {
	padding: 30px 0 0 0;
	margin: 0;
	font-family: 'montserratlight';
	font-size: 0.8em;

	ul {
		list-style: none;
		
		li {
			&:first-letter {
				text-transform: uppercase;
			}
			&:first-child{
				margin: 5px;
			}
			display: inline-block;
			&:not(:nth-child(-n+1)):not(:last-child):after {
				content: "\f105";
				font-family: 'FontAwesome';
				margin: 0 5px;	
			}
			a {
				color: 	@black;
				&:hover, &.active {
					color: @bleu;
					text-decoration: none;
				}
			}
		}
	}
}

// Ements du sommaire

.sommaire {
	.titre_type_card {
		font-family: "montserrat";
		text-transform: uppercase;
		padding: 20px 0 10px 0;
	}
}



/* Credit to bootsnipp.com for the css for the color graph */
// SÃ©parateur newslestter
.colorgraph {
	height: 2px;
	border-top: 0;
	background: @bleu;
	border-radius: 5px;
}

// toaster
.toast-top-center {
	top: 70px;
}

// Plan du site

#plan_site{
	h1{
		font-size: 25pt;
	}
	h2{
		font-size: 14pt;
	}
	h3{
		font-size: 12pt;
	}
	p{
		font-size: 10pt;
	}
}

/** Mon compte **/

#mon_compte{
	h2{
		font-size: 16pt;
	}
	input[type="submit"]{
		text-transform: none;
	}
}

/** A propos **/

.a_propos{
	p{
		margin: 1em 0;
	}
	#lexique{
		font-size: 10pt;
		margin-top: 5em;
	}
}



#acteurs{
	text-align: center;
	h2{
		margin-top: 50px;
		margin-bottom: 15px;
	}
}

/** Map **/
#map { 
	height: 500px; 
	width: 100%; 
}

.une_conf #map { 
	height: 200px; 
	width: 300px; 
}

/** Page 404 **/
#error{
	img{
			display: block;
    		margin: 0 auto;
			width: 250px;
		}
	.center{
		text-align: center;
		div{
			font-size: 1.2em;
			margin: 10px;
		}
		a{
			color: @bleu;
		}
	}

}