/** HEADER **/

.content_header{
	.more_filters{
		display: none;
	}
}

/** SOMMAIRE **/

.breadcrumb{
	display: none;
	margin: 0;
	padding: 0;
}

/** FOOTER **/

.arrow_up{
	display: none;
}

footer{
	position: absolute;
	bottom: 2em;
	.logo_sociaux{
		position: absolute;
		right: 0;
		width: 100%;
		a{
			font-size: 10pt;
			img{
				display: none;
			}
		}
	}
	.menu_footer{
		display: none;
	}
	a[title="licence"]{
		position: absolute;
		right: 0;
		bottom: 5em;
		&:after{
			display: none;
		}
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
 footer{position: absolute;
	bottom: 2em;} 
}

/** Pour tous les fichiers **/
.container{
	position: absolute;
	top: 0;
}

/** INDEX **/

#index{
	.titre_type_card{
		div{
			font-size: 10pt;
		}
	}
	.card{
		width: 18em;
		.card_author{
			img{
				display: none;
			}
			.card_title{
				a{
					font-size: 10pt;
				}
				a:after{
					content: none !important;
				}
			}
		}
		.card_image{
			display: none;
			height: 0;
		}
		.card_content{
			p{
				font-size: 8pt;
			}
		}
		.card_action{
			.actions_right{
				display: none;
			}
		}
	}
}

/** UNE CONFERENCE **/

.une_conf{
	.titre_conf{
		h2{
			position: fixed;
			top: 4em;
			left: 11em;
		}
	}
	.desc_conf{
		position: absolute;
		top: 8em;
		.img_conf{
			display: none;
		}
		.container_desc{
			.onglets{
				display: none;
			}
			.description{
				width: 25em;
			}
			.informations{
				display: initial !important;
				position: absolute;
				left: 25em;
				top: 0;
				width: 25em;
			}
		}
	}
	.rates_coms{
		position: fixed;
		top :26em;
		.onglets{
			#rates{
				display: none;
			}
		}
		.coms{
			.container_coms{
				.media{
					a:after, img{
						display: none;
					}
				}
				.commenter{
					display: none;
				}
			}
		}
	}
}

/** SEARCH / TOP CONFERENCE / A PROXIMITE **/

#search{
	.pagination, #map{
		display: none;
	}
	.search_res{
		.card{
			margin: 2em 0;
			.media, .card_image{
				display: none;
				height: 0;
			}
			.card_title{
				a:after{
					display: none;	
				}
			}
			.card_action{
				.actions_right{
						display: none;
				}
			}

		}
	}

}