<!-- Template de card -->
<div class="col-xs-12 ">
	<div class="card">
		<div class="card_titre">
			<div class="card_author">
				<div class="media">
					<a class="pull-left" href="{{ path('wa_codenconf_profil', {'id': conference.createur.id}) }}">
						{% if conference.createur.imageProfil.path is not defined or  conference.createur.imageProfil.path is null %}
							<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/imagepardefaut.svg') }}" alt="Photo de profil par défaut" />
						{% else %}
							<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/'~conference.createur.imageProfil.path) }}" alt="Photo de profil" />								
						{% endif %}
					</a>									
				</div>	
				<div class="card_author_content">
					<span class="card_title">
						<a href="{{ baseUrl }}/conferences/{{ conference.titre|replace({' ': '-'}) }}" title="Conférence {{ conference.titre }}">{{ conference.titre }}</a>
					</span>
					<span class="card_sub_title">
						{% if conference.dateDebut == conference.dateFin %}
				            Le {{ conference.dateDebut|date('d M Y') }}
				        {% else %}
				            Du {{ conference.dateDebut|date('d M Y') }} au {{ conference.dateFin|date('d M Y') }}
				        {% endif %}
			        	, à <span class="ville_{{ conference.ville}}">{{ conference.ville }}</span></span>
				</div>
			</div>
		</div>
		<div class="card_image">
			<a href="{{ baseUrl }}/conferences/{{ conference.titre|replace({' ': '-'}) }}" title="Conférence {{ conference.titre }}">
				{% if conference.imagePresentation == null %}
					{% image '@WACodenconfBundle/Resources/public/images/imagenontrouvee.jpg' %}
					    <img class="img-responsive" src="{{ asset_url }}" alt="Logo {{ conference.titre }}" />
					{% endimage %}
				{% else %}
					<img class="img-responsive" src="{{ asset('uploads/documents/'~conference.imagePresentation.path) }}" alt="Logo {{ conference.titre }}" />
				{% endif %}
			</a>
		</div>

		<div class="card_content">
			<a href="{{ baseUrl }}/conferences/{{ conference.titre|replace({' ': '-'}) }}" title="Conférence {{ conference.titre }}">
				<p class="sous_titre">
					{% for categorie in conference.categories %}
						 / {{ categorie.name }}
					{% endfor %}
				</p>

				<p>{{ conference.descriptionCourte }}</p>		
			</a>
		</div>

		<div class="card_action">
			<div class="no_padding col-xs-8 rating">
				{% for i in 0..conference.getRoundAverageNotes() %}
					{% if i != 0%}
					    <span>
						{% image '@WACodenconfBundle/Resources/public/images/star.svg' %}
						    <img src="{{ asset_url }}" class="img-responsive" alt="Star" />
						{% endimage %}
						</span>
					{% endif %}
				{% endfor %}
				{% for i in 0..(5-conference.getRoundAverageNotes()) %}
					{% if i != 0%}
				    <span>
						{% image '@WACodenconfBundle/Resources/public/images/star-empty.svg' %}
						    <img src="{{ asset_url }}" class="img-responsive" alt="Star Empty" />
						{% endimage %}
						</span>
					{% endif %}
				{% endfor %}

				
				<span class="nb_votants">({{conference.getCountNotes()}})</span>
			</div>
			<div class="no_padding col-xs-4 actions_right">
				<span class="fav_conf glyphicon glyphicon-heart"></span>
				<!-- Button trigger modal -->
				<span title="Partager" data-toggle="modal" data-target="#myModal"><i class="share glyphicon glyphicon-share-alt"></i></span>
				<a href="{{ baseUrl }}/conferences/{{ conference.titre|replace({' ': '-'}) }}" target="new_blank" title="Conférence {{ conference.titre }}"><i class="plus glyphicon glyphicon-plus"></i></a>
			</div>
		</div>
	</div>
</div>

<!-- Modal share -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Fermer</span>
				</button>
				<h4 class="modal-title myModalLabel">
					<i class="glyphicon glyphicon-share-alt"></i>
					Partager
				</h4>
			</div>
			<div class="modal-body">
				<p>
					<a title="Facebook" href="http://www.facebook.com/share.php?u=http://codenconf.fr/conferences/{{ conference.titre }}">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x"></i>
						</span>
					</a>
					<a title="Twitter"  href="http://www.twitter.com/share?url=http://codenconf.fr/conferences/{{ conference.titre }}" class="twitter-share-button" data-via="CodenConf" data-hashtags="ConféFrance">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x"></i>
						</span>
					</a>
					<a title="Google+" href="https://plus.google.com/share?url=http://codenconf.fr/conferences/{{ conference.titre }}">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-google-plus fa-stack-1x"></i>
						</span>
					</a>
				</p>

				<h2>
					<i class="fa fa-envelope"></i>
					Newsletter
				</h2>

				<p>Souscrivez à notre Newsletter pour ne manquer aucune conférence !</p>

				<form action="#" method="post">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-envelope"></i>
						</span>
						<input type="email" class="form-control" placeholder="votre@email.com">
					</div>
					<br />
					<button type="submit" value="sub" name="sub" class="btn btn-primary">
						<i class="fa fa-share"></i>
						S'inscrire maintenant !
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
