<div class="row breadcrumb">	
	<div class="col-xs-12 no_padding">	
		<ul class="no_padding">	
			<li><a class="active" href="../" title= "accueil"><i class="fa fa-home fa-2x"></i></a></li>
			<li><a href="../">Accueil</a></li>
			{% for link in breadcrumb %}
				<li><a href="">{{ link }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>