<div class="row  no_margin">
	<div class="col-xs-12 arrow_container">	
		<a class="arrow_up" href="#top" title="Retour en haut de page"><i class=" fa fa-arrow-circle-o-up"></i></a>
	</div>
</div>

<footer>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-sm-3 col-xs-push-4 col-sm-push-0 logo_sociaux">
					<a href="https://www.facebook.com/codenconf/?fref=ts" class="fa fa-facebook fa-2x" title="Facebook" target="_blank"></a>
					<a href="https://twitter.com/CodenConf" class="fa fa-twitter fa-2x"  title="Twitter" target="_blank"></a>
					<a href="http://www.iut.u-bordeaux1.fr/info/" title="IUT de Bordeaux" target="_blank">
						{% image '@WACodenconfBundle/Resources/public/images/logo_info_couleur.jpg' %}
						    <img class="img_iut" src="{{ asset_url }}" alt="logo IUT Info" />
						{% endimage %}
					</a>
				</div>
				<div class="col-xs-4 col-sm-7 col-xs-pull-8 col-sm-pull-0 ">
					<ul class="menu_footer">
						<li><a href="{{ path('wa_codenconf_acteurs') }}" title="Acteurs">Acteurs</a></li>
						<li><a href="{{ path('wa_codenconf_about') }}" title="A propos">À propos</a></li>
						<li><a href="{{ path('wa_codenconf_newsletter') }}" title="Newsletter">Newsletter</a></li>
						<li><a href="{{ path('wa_codenconf_mentions_legales') }}" title="Mentions légales">Mentions légales</a></li>
						<li><a href="{{ path('wa_codenconf_plan_du_site') }}" title="Plan du site">Plan du site</a></li>
						<li><a href="{{ path('wa_codenconf_contact') }}" title="contact">Contact</a></li>
					</ul>
				</div>
				<a class="hidden-xs col-xs-2" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/"  title="licence">
					<img id="licence-creative-commons" alt="Licence Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/3.0/fr/88x31.png" />
				</a>
			</div>
		</div>
	</div>
</footer>