<header>
  {{ include('include/menu.html.twig', {'utilisateur': utilisateur}) }}
  <div class="content content_header">
    <div class="container">
      <div class="row row-recherche">
        <form class="navbar-form navbar">
          <div class="form-group">
            <input type="text" class="recherche_principale form-control" id="barre_recherche" placeholder="Rechercher une conférence" title="rechercher une conférence" name="{{ path('wa_codenconf_ajax_recherche') }}">
          </div>
          <button id="recherche_button" type="button" class="btn btn-default btn-search" name="{{ path('wa_codenconf_conferences') }}">Rechercher</button>
          <div class="suggestions"></div>
        </form>
      </div>
      <div class="row row-filtre">
        <div id="filtres">
          <div id="categorie">
            <h5>Catégories : </h5>
            {% for categorie in categories %}
            <label>{{ categorie.name }}</label><input type="checkbox" name="categorie_{{ categorie.name }}">
            {% endfor %}
          </div>

          <div id="ville">
            <h5>Ville :</h5>
            <input type="text" name="champ_ville">
          </div>
        </div> 
        <button class="btn btn-default filters open_filter" onClick="ouvrir_filtres();">Plus de filtres</button>
        <button class="btn btn-default filters close_filter" onClick="fermer_filtres();">Fermer les filtres</button>
      </div>

    </div>
  </div>
</header>