<nav class="navbar navbar-inverse navbar-fixed-top navbar-absolute">
	<div class="container"> <!-- originalement container-fluid -->
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('wa_codenconf_accueil') }}" title="accueil">
				{% image '@WACodenconfBundle/Resources/public/images/logo-header.svg' %}
				    <img src="{{ asset_url }}" alt="logo coden' conf" />
				{% endimage %}
			</a>

		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('wa_codenconf_conferences', {'motCle': 'top'}) }}" title="top conférences">Top Conférences</a></li>
				<li><a href="{{ path('wa_codenconf_conferences_proximite') }}" title="à proximité">À proximité</a></li>
				<li><a href="{{ path('wa_codenconf_agenda') }}" title="agenda">Agenda</a></li>

				<li >
					<div class="badge_user">
						<div class="media">
							{% if app.user %}
							<a class="pull-right" href="{{ path('wa_codenconf_profil', {'id': app.user.getId()}) }}" title="Mon profil">
								{% if app.user.imageProfil.path is not defined or app.user.imageProfil.path is null %}
									<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/imagepardefaut.svg') }}" alt="Photo de profil par défaut" />
								{% else %}
									<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/'~app.user.imageProfil.path) }}" alt="Photo de profil" />										
								{% endif %}
							</a>
							{% else %}
							<a class="pull-right" href="{{ path('login') }}" title="Se connecter">
								{% if app.user.imageProfil.path is not defined or app.user.imageProfil.path is null %}
									<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/imagepardefaut.svg') }}" alt="Photo de profil par défaut" />
								{% else %}
									<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/'~app.user.imageProfil.path) }}" alt="Photo de profil" />								
								{% endif %}
							</a>
						{% endif %}
						</div>
					</div>	
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="menu utilisateur">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">

						{% if app.user %}
							<li><a href="{{ path('wa_codenconf_profil', {'id': app.user.getId()}) }}" title="profil">Mon profil</a></li>
							<li><a href="{{ path('wa_codenconf_mon_compte') }}" title="mon compte">Mon compte</a></li>
							<li> <a id="important" href="{{ path('wa_codenconf_saisie_conferences') }}" title="créer une conférence">Créer une conférence</a></li>
							<li><a href="{{ path('logout') }}" title="se deconnecter">Se déconnecter</a></li>

							{% else %}
							<li><a href="{{ path('login') }}" title="se connecter">Se connecter</a></li>
							<li><a href="{{ path('fos_user_registration_register') }}" title="s'inscrire">S'inscrire</a></li>
							{% endif %}

							{% if is_granted('ROLE_ADMIN') %}
							<li role="separator" class="divider"></li>

							<li><a href="{{ path('wa_codenconf_administration') }}"  title ="administration">Administration</a></li>
							{% endif %}

					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>