<!-- http://www.jquery2dotnet.com/ -->
<div class="container col-xs-12">
    <div class="row rates_center">
        <div class="col-xs-12 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-center">
                        <h3 class="rating-num">
                            {{conference.getAverageNotes()}}</h3>
                        <div class="rating">
                            {% for i in 0..conference.getRoundAverageNotes() %}
                                {% if i != 0%}
                                    <span>
                                    {% image '@WACodenconfBundle/Resources/public/images/star.svg' %}
                                        <img src="{{ asset_url }}" class="img-responsive" alt="Star" />
                                    {% endimage %}
                                    </span>
                                {% endif %}
                            {% endfor %}
                            {% for i in 0..(5-conference.getRoundAverageNotes()) %}
                                {% if i != 0%}
                                <span>
                                    {% image '@WACodenconfBundle/Resources/public/images/star-empty.svg' %}
                                        <img src="{{ asset_url }}" class="img-responsive" alt="Star Empty" />
                                    {% endimage %}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-user"></span>{{conference.getCountNotes()}} total
                            <p>dont {{conference.getCountNotesInscrits()}} inscrits</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                <span>
                                {% image '@WACodenconfBundle/Resources/public/images/star.svg' %}
                                    <img src="{{ asset_url }}" class="img-responsive" alt="Star" />
                                {% endimage %}
                                </span>5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {{conference.getPercentNotes(5)}}%">
                                        <span class="sr-only">{{conference.getPercentNotes(5)}}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span>
                                {% image '@WACodenconfBundle/Resources/public/images/star.svg' %}
                                    <img src="{{ asset_url }}" class="img-responsive" alt="Star" />
                                {% endimage %}
                                </span>4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {{conference.getPercentNotes(4)}}%">
                                        <span class="sr-only">{{conference.getPercentNotes(4)}}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span>
                                {% image '@WACodenconfBundle/Resources/public/images/star.svg' %}
                                    <img src="{{ asset_url }}" class="img-responsive" alt="Star" />
                                {% endimage %}
                                </span>3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {{conference.getPercentNotes(3)}}%">
                                        <span class="sr-only">{{conference.getPercentNotes(3)}}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span>
                                {% image '@WACodenconfBundle/Resources/public/images/star.svg' %}
                                    <img src="{{ asset_url }}" class="img-responsive" alt="Star" />
                                {% endimage %}
                                </span>2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {{conference.getPercentNotes(2)}}%">
                                        <span class="sr-only">{{conference.getPercentNotes(2)}}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span>
                                {% image '@WACodenconfBundle/Resources/public/images/star.svg' %}
                                    <img src="{{ asset_url }}" class="img-responsive" alt="Star" />
                                {% endimage %}
                                </span>1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {{conference.getPercentNotes(1)}}%">
                                        <span class="sr-only">{{conference.getPercentNotes(1)}}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 1 -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
