{% extends 'base.html.twig' %}

{% block description %}
	Un groupe d'étudiants en LP DAWIN à l'IUT Informatique de Bordeaux, a réalisé ce site pour permettre, aux personnes intéressées par le numérique, de se renseigner sur les différentes conférences disponibles en France.
{% endblock %}

{% block title %}A propos{% endblock %}

{% block body %}

	<div class="container">
		{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb }) }}

		<div class="a_propos">
			<h1>Un annuaire des conférences en France</h1>
			<div class="row">
				<div class="col-md-10">
					<p>
						Ce site a été réalisé par un groupe d'étudiants en LP DAWIN, à l'IUT Informatique de Bordeaux, sous le nom de WebAgora. Il s'inscrit dans un projet de développement web. 
					</p>
				</div>
				<div class="col-md-2">
					{% image '@WACodenconfBundle/Resources/public/images/logowebagora.jpg' %}
					    <img src="{{ asset_url }}" alt="Logo WebAgora" id="logo-wa" />
					{% endimage %}
				</div>
			</div>
			<div class="row">
				<p id="developpeurs">Bassam Boulacheb, Rémi Dong, Mathilde Guédon, Maxence Pautrot et Juliette Rivière</p>
				<p>
					Coden' Conf est un mélange entre un moteur de recherche et un réseau social. Il vous permet de vous renseigner sur les conférences du numérique en France à venir. Vous pouvez aussi noter des conférences que vous avez vues ou les revoir en vidéo. En vous connectant, vous pouvez en suivre ou en ajouter.
				</p>
			</div>
			<div id="lexique">
				<p>LP DAWIN : Licence Professionnelle Développeur D'applications Web et Images Numériques</p>
			</div>
		</div>
	</div> 

<!-- end block body -->
{% endblock %}