{% extends 'base.html.twig' %} 

{% block description %} 
	Codenconf a été réalisé par un groupe d'étudiants en LP DAWIN à l'IUT Informatique de Bordeaux.
{% endblock %} 

{% block title %}Acteurs{% endblock %} 
{% block body %}

<div class="container sommaire">
	{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb}) }}

	<section id="acteurs">
		<h1>Acteurs du projet</h1>
		<article>
			<h2>Organisme à l'origine du projet</h2>
			<p>L'institut universitaire technologique de Bordeaux est à l'origine du projet Coden'Conf</p>
			{% image '@WACodenconfBundle/Resources/public/images/logo_info_couleur.jpg' %}
			    <img src="{{ asset_url }}" alt="Logo IUT Bordeaux">
			{% endimage %}

			<h2>Maître d'oeuvre du projet</h2>
			<p>L'entreprise Web Agora est le maître d'oeuvre du projet Coden'Conf</p>
			{% image '@WACodenconfBundle/Resources/public/images/logowebagora.jpg' %}
			    <img src="{{ asset_url }}" alt="logo web agora">
			{% endimage %}
			
			<h2>L'Equipe en charge du projet</h2>
			<p>L'Equipe est composée de cinq étudiants :</p>
			<p>Mathilde Guédon : Chef de projet, développeuse back-office</p>
			<p>Bassam Boulacheb : Développeur back-office </p>
			<p>Juliette Riviere : Graphiste, Intégratrice front-end<p>
			<p>Remi Dong : Intégrateur front-end </p>
			<p>Maxence Pautrot : Responsable qualité, Responsable contenu </p>
			
		</article>
	</section>
</div> 

<!-- end block body -->
{% endblock %}