{% extends 'base.html.twig' %}

{% block description %}
	Retrouvez l'agenda de toutes les conférences du numérique en France et exportez le au format .ics.
{% endblock %}

{% block title %}Agenda{% endblock %}

{% block body %}

<div class="container" id="agenda">
	{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb }) }}

	<div class="row">
		<div class"col-xs-12" id="calendrier">
			<!-- 		<h1>Notre agenda </h1>
			<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23f5f5f5&amp;src=codenconf%40gmail.com&amp;color=%231B887A&amp;src=fr.french%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FParis" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->

			<div id='calendar'></div>
		</div>
		<div id="telechargement_ics">
			<button type="submit" class="btn btn-primary" title="télécharger ics" onclick="indisponible();">Télécharger le .ics</button>
		</div>
	</div>
	
</div>

<!-- end block body -->
{% endblock %}
