{% extends 'base.html.twig' %}

{% block description %}
	Les conférences liées au mot clé "{{ mot_cle }}".
{% endblock %}

{% block title %}Recherche{% endblock %}

{% block body %}

<div class="container" id="search">
	{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb }) }}

	<div class="row col-xs-12">
		<h1 class="pull-left">Résultats pour : {{ mot_cle }}</h1>
		{{ include('include/pagination.html.twig') }}
	</div>	

	<div class="row search_res">
		{% if conferences is empty %}
		<div class="col-xs-12 col-sm-6 col-md-4">
			Aucun résultat pour cette recherche.
		</div>
		{% else %}
			{% for conference in conferences %}
				{% if conference.validee %}
					<div class="col-xs-12 col-sm-6 col-md-4">
						{{ include('include/baseCard.html.twig', {'conference':conference}) }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>

	<div class="col-xs-12">
		{{ include('include/pagination.html.twig') }}
	</div>

	<div id="map"></div>

</div>

<!-- end block body -->
{% endblock %}

