{% extends 'base.html.twig' %}

{% block description %}
	{{ conference.descriptionCourte }}
{% endblock %}

{% block title %}{{ conference.titre }}{% endblock %}

{% block body %}

<div class="container une_conf">
	{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb }) }}

	<div class="row titre_conf">             
		<h1>{{ conference.titre }}</h1>
		<hr/>     
		<h2>{{ conference.lieu }}  
			{% if conference.dateDebut == conference.dateFin %}
	            le {{ conference.dateDebut|date('d M Y') }}
	        {% else %}
	            du {{ conference.dateDebut|date('d M Y') }} au {{ conference.dateFin|date('d M Y') }} 
	        {% endif %}
        </h2>
	</div>

	<div class="row desc_conf">
		<div class="col-xs-12 col-sm-4 img_conf">
			<div class="container_img">
				{% if conference.imagePresentation == null %}
					{% image '@WACodenconfBundle/Resources/public/images/imagenontrouvee.jpg' %}
					    <img class="img-responsive" src="{{ asset_url }}" alt="Logo {{ conference.titre }}" />
					{% endimage %}
				{% else %}
					<img class="img-responsive" src="{{ asset('uploads/documents/'~conference.imagePresentation.path) }}" alt="Logo {{ conference.titre }}" />
				{% endif %}
			</div>
		

			<div class="no_padding col-xs-12 rating">

					<div class="notation">
						{{ form_start(formNote) }}
							{{ form_widget(formNote.valeur) }}
							{{ form_widget(formNote.save, { 'attr': {'class': 'btn btn-primary'} }) }}
						{{ form_end(formNote) }}
					</div>
				
				<span class="glyphicon fav_conf glyphicon-heart"></span>
			</div>
		</div>

		<div class="col-xs-12 visible-xs">
			<div class="col-xs-12 logo_sociaux">
				<a href="http://www.facebook.com/share.php?u={{ url_full }}" class="fa fa-facebook fa-2x" title="Facebook"></a>
				<a href="https://twitter.com/share" class="fa fa-twitter fa-2x"  data-via="CodenConf" data-hashtags="ConféFrance" title="Twitter" ></a>
				<a href="https://plus.google.com/share?url={{ url_full }}" title="IUT de Bordeaux" >
					{% image '@WACodenconfBundle/Resources/public/images/button-gplus.png' %}
					<img class="img_iut" src="{{ asset_url }}" alt="logo partage google plus"/>
					{% endimage %}
				</a>
			</div>
		</div>

		<div class="col-xs-12 col-sm-8 container_desc">
			<div class="row no_margin onglets">
				<ul>
					<li class="col-xs-6 col-sm-3 active" id="description">Description</li>
					<li class="col-xs-6 col-sm-3" id="informations">Informations</li>
					<li class="col-xs-2 hidden-xs hidden-sm">
						<div class="fb-share-button" data-href="{{ url }}" data-layout="button_count"></div>
					</li>
					<li class="col-xs-2 hidden-xs hidden-sm">
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="CodenConf" data-hashtags="ConféFrance">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</li>
					<li class="col-xs-2 hidden-xs hidden-sm"><g:plus action="share" annotation="bubble"></g:plus></li>
				</ul>
			</div>
			<div class="row no_margin contenu_desc description">
				<p>{{ conference.descriptionLongue }}
				</p>
				<p>Plus d'informations sur le site : <a href="{{ conference.site }}" target="_blank" title="site de {{ conference.titre }}">{{ conference.site }}</a></p>
			</div>
			<div class="row no_margin contenu_desc informations">
				<p><b>	Adresse : </b></p>
				<p> {{ conference.lieu }}, {{ conference.adresse }} {{ conference.codePostal }} {{ conference.ville }}</p>
				<p><b>Tarifs : </b></p>
				{% if conference.tarifMin == conference.tarifMax %}
					<p>{{ conference.tarifMin }}€</p>
				{% else %}
					<p>De {{ conference.tarifMin }}€ à {{ conference.tarifMax }}€</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row rates_coms">
		<div class="col-xs-12">
			<div class="row no_margin onglets">
				<ul>
					<li class="col-xs-6 col-sm-3 col-md-2" id="coms">Commentaires</li>
					<li class="col-xs-6 col-sm-3 col-md-2" id="rates">Détail des notes</li>
				</ul>
			</div>
			<div class="row no_margin coms">
				<div class="col-xs-12 container_coms">
					{% set left = true %}
					{% for commentaire in conference.commentaires %}
						{% if left %}
							<div class="row left_chat">
							{% set left = false %}						
						{% else %}
							<div class="row right_chat">
							{% set left = true %}	
						{% endif %}


							<div class="col-xs-3 col-sm-2 badge_user">
								<div class="media">
									<a class="pull-right" href="{{ path('wa_codenconf_profil', {'id': commentaire.utilisateur.id}) }}">
										{% if commentaire.utilisateur.imageProfil.path is not defined or  commentaire.utilisateur.imageProfil.path is null %}
											<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/imagepardefaut.svg') }}" alt="Photo de profil par défaut" />
										{% else %}
											<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/'~commentaire.utilisateur.imageProfil.path) }}" alt="Photo de profil" />								
										{% endif %}
										<span>{{ commentaire.utilisateur.getUserName()}} </span>
									</a>									
								</div>
							</div>	
							<div class="col-xs-9 col-sm-10">
								<div class="bubble bubble-border">
									<p class="date_coms">{{ commentaire.date|date('d/m/Y') }} à {{ commentaire.date|date('H:i') }}</p>
									<hr class="separateur"/>
									<p>
										{{ commentaire.texte }}
									</p>
								</div>
							</div>						
						</div>
					{% endfor %}

						<div class="commenter">
							{% if app.user %}
								{{ form_start(formCom) }}
									{{ form_widget(formCom.texte, { 'attr': {'class': 'col-xs-12 form-control', 'placeholder' : 'Ajouter un commentaire'} }) }}
									{{ form_widget(formCom.save, { 'attr': {'class': 'btn btn-primary pull-right'} }) }}
								{{ form_end(formCom) }}
							{% else %}
								<div class="pull-right">Connectez-vous pour commenter.</div>
							{% endif %}

						</div>

					</div>
				</div>

				<div class="row no_margin rates">
					<div class="col-xs-12 container_rates">
						{{ include('include/rateSystem.html.twig') }}
					</div>
				</div>

			</div>
		</div>
	</div> 

	<!-- end block body -->
	{% endblock %}
