{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

	<div class="container">
		{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb }) }}

		{% for flashMessage in app.session.flashbag.get('success') %}

		    {{ flashMessage }}

		{% endfor %}
		
		<div class="formulaire_contact">

			<h1>Nous contacter</h1>
			<div class="title-bar"></div>

			{{ form_start(form, { 'attr': {'id': 'contact'} }) }}
				<div class="left">
					{{ form_widget(form.name, { 'attr': {'id': 'nom_contact'} }) }}
					{{ form_widget(form.email, { 'attr': {'id': 'email_contact'} }) }}
					{{ form_widget(form.subject, { 'attr': {'id': 'sujet_contact'} }) }}
				</div>
				<div class="right">
					{{ form_widget(form.message, { 'attr': {'id': 'message_contact'} }) }}
				</div>
				<div>
					{{ form_widget(form.send, { 'attr': {'class': 'btn btn-primary'} }) }}
				</div>
			{{ form_end(form) }}
		</div>
	</div>

<!-- end block body -->
{% endblock %}