{% extends 'base.html.twig' %}

{% block description %}
	Suivez les conférences du numérique partout en France et partagez celles qui vous intéressent.
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="container sommaire" id="index">
		<h1>Accueil</h1>

		<div class="row titre_type_card">
			<div class="col-xs-6">Conférence la mieux notée :</div>
			<div class="col-xs-6 hidden-xs col-xs-5 col-md-offset-1">Conférence proche de chez vous :</div>
		</div>

		<!-- 	Appel des cards -->
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-5">
				{{ include('include/baseCard.html.twig', {'conference':conference}) }}
			</div>

			<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2">
				<div class="visible-xs titre_type_card">Conférence proche de chez vous :</div>
				{{ include('include/baseCard.html.twig', {'conference':conference}) }}
			</div>
		</div>

		<div class="row titre_type_card">
			<div class="col-xs-6">Conférence la plus populaire :</div>
			<div class="col-xs-6 hidden-xs col-xs-5 col-md-offset-1">Prochaine conférence :</div>
		</div>

		<!-- 	Appel des cards -->
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-5">
				{{ include('include/baseCard.html.twig', {'conference':conference}) }}
			</div>

			<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2">
				<div class="visible-xs titre_type_card">Prochaine conférence :</div>

				{{ include('include/baseCard.html.twig', {'conference':conference}) }}
			</div>
		</div>

	</div> 

<!-- end block body -->
{% endblock %}