{% extends 'base.html.twig' %} 

{% block title %}Plan du site{% endblock %} 
{% block body %}

	<div class="container sommaire" id="plan_site">
		{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb}) }}

		<section>
			<h1>Plan du site</h1>
			<article>
				<ul>
					<li><h2><a href="{{ path('wa_codenconf_accueil') }}" title="Accueil">Accueil</a></h2>
						<ul>
							<li><h3><a href="{{ path('wa_codenconf_conferences') }}" title="Conférences">Conférences</a></h3>
								<ul>
									<li><a href="{{ path('wa_codenconf_conferences', {motCle: 'top'}) }}" title="Top conférences">Top Conférences</a></li>
									<li><a href="{{ path('wa_codenconf_conferences_proximite') }}" title="A proximité">À proximité</a></li>
								</ul>
							</li>
							<li><h3><a href="{{ path('wa_codenconf_acteurs') }}" title="Acteurs">Acteurs</a></h3></li>
							<li><h3><a href="{{ path('wa_codenconf_about') }}" title="À propos">À propos</a></h3></li>
							<li><h3><a href="{{ path('wa_codenconf_newsletter') }}" title="Newsletter">Newsletter</a></h3></li>
							<li><h3><a href="{{ path('wa_codenconf_mentions_legales') }}" title="Mentions légales">Mentions légales</a></h3></li>
							<li><h3><a href="{{ path('wa_codenconf_plan_du_site') }}" title="Plan du site">Plan du site</a></h3></li>
							<li><h3><a href="{{ path('wa_codenconf_contact') }}" title="Contact">Contact</a></h3></li>
							<li><h3><a href="{{ path('wa_codenconf_agenda') }}" title="Agenda">Agenda</a></h3></li>
							<li><h3><a href="{{ path('fos_user_registration_register') }}" title="S'inscrire">S'inscrire</a></h3></li>
							<li><h3><a href="{{ path('login') }}" title="Se connecter">Se connecter</a></h3>
							<li><h3><a href="{{ path('wa_codenconf_administration') }}" title="Administration">Administration</a></h3>
							<li><h3><a href="{{ path('wa_codenconf_profil') }}" title="Profil utilisateur">Profil utilisateur</a></h3>
								<ul>
									<li><a href="{{ path('wa_codenconf_mon_compte') }}" title="Mon compte">Mon compte</a></li>
									<li><a href="{{ path('wa_codenconf_saisie_conferences') }}" title="Créer une conférence">Ajouter une conférence</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</article>
		</section>
	</div> 

<!-- end block body -->
{% endblock %}
