{% extends 'base.html.twig' %}  

{% block title %}Nouvelle conférence{% endblock %} 
{% block body %}

<div class="container sommaire" id="saisie">
	{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb}) }}

	<div class="saisie_conf">

		<h1>Ajouter une conférence</h1>
		<div class="title-bar"></div>
			
			{% form_theme form 'bootstrap_3_layout.html.twig' %}
			{{ form_start(form) }}

			<div>
			<h2>Nom de la conférence : </h2>
        	{{ form_widget(form.titre) }}
    		</div>

			<div>
    		<h2>Image de présentation :</h2>
        	{{ form_widget(form.imagePresentation) }}
    		</div>

			<div>
			<h2>Lieu de la conférence (nom du bâtiment) :</h2>
        	{{ form_widget(form.lieu) }}
    		</div>

            <div>
            <h2>Adresse :</h2>
            {{ form_widget(form.adresse) }}
            </div>

            <div>
            <h2>Code postal :</h2>
            {{ form_widget(form.codePostal) }}
            </div>

            <div>
            <h2>Ville :</h2>
            {{ form_widget(form.ville) }}
            </div>

    		<div>
			<h2>Site :</h2>
        	{{ form_widget(form.site) }}
    		</div>
			
			<div>
			<h2>Dates de la conférence :</h2>
        	Du {{ form_widget(form.dateDebut) }} au {{ form_widget(form.dateFin) }}
            </Div>
            
            <div>
            <h2>Tarifs :</h2>
            <label>Min : </label> {{ form_widget(form.tarifMin) }}
            <label>Max : </label> {{ form_widget(form.tarifMax) }}
            </div>

    		<div>
			<h2>Description courte :</h2>
            <p>(Elle sera affichée pour présenter rapidement la conférence)</p>
        	{{ form_widget(form.descriptionCourte) }}
    		</div>	


            <div>
            <h2>Description longue :</h2>
            <p>(Elle sera affichée dans la fiche détail de la conférence)</p>
            {{ form_widget(form.descriptionLongue) }}
            </div>  

    		<div>
			<h2>Langues :</h2>
        	{{ form_widget(form.langues) }}
    		</div>	

    		<div>
			<h2>Catégories :</h2>
        	{{ form_widget(form.categories) }}
    		</div>

    		<div>
       		 {{ form_widget(form.save) }}
    		</div>

    		{{ form_end(form) }}
	</div>



</div>

<!-- end block body -->
{% endblock %}