<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Sauvegarde de l'url courrante dans une variable -->
    {% set baseUrl = app.request.getBaseURL() %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <title>Coden' Conf | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/wacodenconf/images/favicon.png') }}" />

    <!-- SCRIPT -->
    <script src="{{ asset('bundles/wacodenconf/js/jquery/jquery-2.1.4.min.js')}}"></script>
    
    {% javascripts '@WACodenconfBundle/Resources/public/js/*'
     '@WACodenconfBundle/Resources/public/bootstrap/js/bootstrap.min.js' %}
       <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.js"></script>
    <script src="{{ asset('bundles/wacodenconf/js/fullcalendar/gcal.min.js')}}"></script>
    <script src="{{ asset('bundles/wacodenconf/js/fullcalendar/fr.js')}}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc2po7vjc31RkfKdPulCIeGWjVVuzEhkA&callback=initMap">
    </script>

    {% javascripts '%kernel.root_dir%/../vendor/fyneworks/star-rating/jquery.rating.js' %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
 

    {% stylesheets '@NurikabeStarRatingBundle/Resources/rating.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.print.css" media="print">
    <link rel="stylesheet" href="{{ asset('bundles/wacodenconf/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/wacodenconf/fonts/fontawesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/wacodenconf/css/main.css') }}" />

    <link rel="stylesheet" href="{{ asset('bundles/wacodenconf/css/print.css')}}" media="print"/>

    {% block stylesheets %}    {% endblock %}

    <!-- Google+ Share -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Facebook Share -->
    <div id="fb-root"></div>
</head>
<body>
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-69513531-2', 'auto');
       ga('send', 'pageview');

   </script>

   {{ render(controller('WACodenconfBundle:Default:recherche')) }}

   {% block body %}{% endblock %}

   {{ include('include/footer.html.twig') }}



</body>
</html>

