{% extends "::base.html.twig" %}


{% block body %}
{% block fos_user_content %}

	{% block javascript %}
	<script type="text/javascript">
  	alert("{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}");
  	window.location.href = "/";
    </script>

    {% endblock %} 
{% endblock fos_user_content %}

{% endblock %}
