{% extends "::base.html.twig" %}

{% block body %}
	{% block fos_user_content %}

		{% block javascript %}
			<script type="text/javascript">

			//alert("{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}");
			toastr.success("{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}");

			{% if app.session is not empty %}
			{% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
			{% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
			{% endif %}
			window.location.href = "/user/profil";
			
			</script>
		{% endblock %} 
	{% endblock fos_user_content %}

{% endblock %}