{% extends "::base.html.twig" %}

{% block body %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
					<h1>Inscription</h1>
					<hr class="colorgraph">
					<div class="form-group">

					{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': "Nom d'utilisateur"|trans } }) }}
        			{{ form_errors(form.username) }}
        		</div>

					<!--<hr class="colorgraph">
					<div class="form-group">
						<input type="text" name="pseudo" id="pseudo" class="form-control input-lg" placeholder="Pseudo" tabindex="4" title="pseudo"> 
					</div>-->
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								{{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'|trans } }) }}
        						{{ form_errors(form.firstname) }}

								<!--<input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Prénom" tabindex="1" title="prénom"> -->
							</div>
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								{{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'|trans } }) }}
        						{{ form_errors(form.lastname) }}

								<!--<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Nom de famille" tabindex="2" title="nom">-->
							</div>
						</div>
					</div>
					


					<div class="form-group">
						<!-- <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Adresse email" tabindex="4" title="email"> -->
						{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'|trans } }) }}
        				{{ form_errors(form.email) }}
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<!--<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Mot de passe" tabindex="5" title="mot de passe">-->
								{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'|trans } }) }}
						        {{ form_errors(form.plainPassword.first) }}

							</div>
						</div>


						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<!--<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmez le mot de passe" tabindex="6" title="confirmation du mot de passe"> -->

								{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre mot de passe'|trans } }) }}
       						 	{{ form_errors(form.plainPassword.second) }}

							</div>
						</div>

						{{ form_rest(form) }}
					</div>
					<hr class="colorgraph">
					<div class="form-group">
						<input type="submit" value="{{ 'Inscription' |trans({}, 'FOSUserBundle') }} "class="btn btn-primary btn-block btn-lg" tabindex="7" title="s'inscrire">
					</div>
				</form>
			</div>
		</div>
	</div>

<!-- end block body -->
{% endblock %}
