{% extends "::base.html.twig" %}

{% block body %}
	{% block fos_user_content %}
			{% block javascript %}
				{% if error %}
					<script type="text/javascript">
						$( document ).ready(function() {
							toastr.error("Votre identifiant et votre mot de passe ne correspondent pas.");
						});
					</script>
				{% endif %}
			{% endblock %} 


		<div class="container" id="login">

			<div class="row">
				<div class="col-xs-10 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-4 col-md-offset-4">
					<form action="{{ path("fos_user_security_check") }}" method="post">

						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
						<h1>Se connecter</h1>
						<hr class="colorgraph">
						<div class="form-group">


							<input type="text" id="pseudo" class="form-control input-lg" name="_username" value="{{ last_username }}" placeholder="Pseudo ou mail" required="required" />


						</div>
						<div class="form-group">

							<input type="password" id="password"class="form-control input-lg"  name="_password" placeholder="Mot de passe" required="required" />

						</div>

						<div class="form-group">
							<div class="col-xs-12 col-sm-6 col-md-6">
							<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
							<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
							</div>
							
					
						</div>

						<div class="form-group">
							<input type="submit" id="_submit" class="btn btn-primary btn-block btn-lg" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
						</div>
					</form>
					<a href="{{path('fos_user_resetting_request')}}">Mot de passe oublié ?</a></br>
					<a href="{{path('fos_user_registration_register')}}">Vous n'avez pas encore de compte ?</a>
				</div>
			</div>
		</div>


	{% endblock fos_user_content %}
{% endblock %}

