{% extends "::base.html.twig" %}
{% block title %}Changement de mot de passe{% endblock %}

	{% block body %}
	{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="container" id="login">
		
		<div class="row">
			<div class="col-xs-10 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-4 col-md-offset-4">
					<h1>Modification du mot de passe</h1>
					<hr class="colorgraph">
					<div class="form-group">
       				 <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    				{{ form_widget(form) }}
					</div>
					<hr class="colorgraph">
					<div class="form-group">
						
						 <input type="submit" class="btn btn-danger btn-block btn-md" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
					</div>
			</div>
		</div>
	</div>
	
{% endblock %}

