/** HEADER **/
.content_header .more_filters {
  display: none;
}
/** SOMMAIRE **/
.breadcrumb {
  display: none;
  margin: 0;
  padding: 0;
}
/** FOOTER **/
.arrow_up {
  display: none;
}
footer {
  position: absolute;
  bottom: 2em;
}
footer .logo_sociaux {
  position: absolute;
  right: 0;
  width: 100%;
}
footer .logo_sociaux a {
  font-size: 10pt;
}
footer .logo_sociaux a img {
  display: none;
}
footer .menu_footer {
  display: none;
}
footer a[title="licence"] {
  position: absolute;
  right: 0;
  bottom: 5em;
}
footer a[title="licence"]:after {
  display: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  footer {
    position: absolute;
    bottom: 2em;
  }
}
/** Pour tous les fichiers **/
.container {
  position: absolute;
  top: 0;
}
/** INDEX **/
#index .titre_type_card div {
  font-size: 10pt;
}
#index .card {
  width: 18em;
}
#index .card .card_author img {
  display: none;
}
#index .card .card_author .card_title a {
  font-size: 10pt;
}
#index .card .card_author .card_title a:after {
  content: none !important;
}
#index .card .card_image {
  display: none;
  height: 0;
}
#index .card .card_content p {
  font-size: 8pt;
}
#index .card .card_action .actions_right {
  display: none;
}
/** UNE CONFERENCE **/
.une_conf .titre_conf h2 {
  position: fixed;
  top: 4em;
  left: 11em;
}
.une_conf .desc_conf {
  position: absolute;
  top: 8em;
}
.une_conf .desc_conf .img_conf {
  display: none;
}
.une_conf .desc_conf .container_desc .onglets {
  display: none;
}
.une_conf .desc_conf .container_desc .description {
  width: 25em;
}
.une_conf .desc_conf .container_desc .informations {
  display: initial !important;
  position: absolute;
  left: 25em;
  top: 0;
  width: 25em;
}
.une_conf .rates_coms {
  position: fixed;
  top: 26em;
}
.une_conf .rates_coms .onglets #rates {
  display: none;
}
.une_conf .rates_coms .coms .container_coms .media a:after,
.une_conf .rates_coms .coms .container_coms .media img {
  display: none;
}
.une_conf .rates_coms .coms .container_coms .commenter {
  display: none;
}
/** SEARCH / TOP CONFERENCE / A PROXIMITE **/
#search .pagination,
#search #map {
  display: none;
}
#search .search_res .card {
  margin: 2em 0;
}
#search .search_res .card .media,
#search .search_res .card .card_image {
  display: none;
  height: 0;
}
#search .search_res .card .card_title a:after {
  display: none;
}
#search .search_res .card .card_action .actions_right {
  display: none;
}
