{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %} 

{% block body %}

<div class="container" id="administration">
  {{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb}) }}


  <h1>Administration</h1>  

  <div class="row content">
    <div class="col-md-12">
      <h2>Dernières conférences ajoutées : </h2>
      <table class="table table-bordered no-more-tables scroll">
        <thead>
          <tr>
            <th class="text-center">Nom de la conférence</th>
            <th class="text-center">Créateur</th>
            <th class="text-center">Dates</th>
            <th class="text-center">Lieu</th>
            <th class="text-center">Catégories</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for conf in conferences %}
            {% if conf.validee == false %}
            <tr>
              <td class="text-center"><a href="{{ path('wa_codenconf_conference', {conferenceName: conf.titre}) }}" target="_blank">{{ conf.titre }}</a></td>
              <td class="text-center"><a href="" target="_blank">{{ conf.createur }}</a></td>
              <td class="text-center">
                {% if conf.dateDebut == conf.dateFin %}
                {{ conf.dateDebut|date("d/m/Y") }}
                {% else %}
                {{ conf.dateDebut|date("d/m/Y") }} - {{ conf.dateFin|date("d/m/Y") }} 
                {% endif %}
              </td>
              <td class="text-center">{{ conf.lieu }} {{ conf.adresse }} {{ conf.codePostal }} {{ conf.ville }}</td>

              <td class="text-center"> 
                <ul>
                  {% for categorie in conf.categories %}
                  <li>{{ categorie.name }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="text-center"><a href="#">Valider</a> / <a href="#">Modifier</a> / <a href="#">Supprimer</a></td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <form id="recherche" action="#" method="post">
        <label>Rechercher une conférence : </label></br><input type="text" name="" placeholder="Nom de la conférence">
        <div>
          <button type="submit" class="btn_search">Rechercher</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row content">
    <div class="col-md-12">
      <h2>Derniers membres inscrits : </h2>
      <table class="table table-bordered no-more-tables">
        <thead>
          <tr>
            <th class="text-center" width="5%">Prénom</th>
            <th class="text-center" width="12%">Nom</th>
            <th class="text-center" width="8%">Pseudo</th>
            <th class="text-center" width="7%">Email</th>
            <th class="text-center" width="7%">Nombre de commentaires</th>
            <th class="text-center" width="4%">Date d'inscription </th>
            <th class="text-center" width="4%">Statut </th>
            <th class="text-center" width="4%">Action</th>
          </tr>
        </thead>

        <tbody>
          {% for user in utilisateurs %}

          <tr>
            <td class="text-center">{{ user.firstname }}</td>
            <td class="text-center">{{ user.lastname }}</td>
            <td class="text-center">{{ user.username }}</td>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">{{ user.commentaires|length }}</td>
            <td class="text-center">{{ user.firstlogin|date("d/m/Y") }}</td>
            <td class="text-center">
              {% for role in user.roles %}
              {% if role == "ROLE_USER" %}
              Membre
              {% elseif role == "ROLE_ADMIN"%}
              Admin
              {% else %}
              {{ role }}
              {% endif %}
              {% endfor %}
            </td>
            <td class="text-center"><a href="#">Modifier</a> / <a href="#">Supprimer</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form id="recherche" action="#" method="post">
        <label>Rechercher un membre : </label></br><input type="text" name="" placeholder="Nom du membre">
        <div>
          <button type="submit" class="btn_search">Rechercher</button>
        </div>
      </form>
    </div>
  </div>

  {% endblock %}	
