{% extends 'base.html.twig' %} 

{% block title %}Mon compte{% endblock %} 
{% block body %}

<div class="container" id="mon_compte">
	{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb}) }}

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<h1>Mes informations personnelles</h1>
			<hr class="colorgraph">
			<h2>Image de présentation :</h2>
			<div class="row imageProfil">
				<div class="col-xs-4">
					<div class="badge_user">
						<div class="media tall">
							{% if utilisateur.imageProfil.path is not defined or utilisateur.imageProfil.path is null %}
							<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/imagepardefaut.svg') }}" alt="Photo de profil de l'utilisateur" />
							{% else %}
							<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/'~utilisateur.imageProfil.path) }}" alt="Photo de profil par défaut" />												
							{% endif %}

						</div> 
					</div>	
				</div>
				<div class="col-xs-8">
					{{ form_start(form) }}
					{{ form_widget(form.imageProfil) }}

					{{ form_widget(form.save) }}
					{{ form_end(form) }}
				</div>
			</div>

			<div class="form-group">
				<h2><span class="label label-info">Pseudo</span></h2>
				<input type="text" name="pseudo" id="pseudo" class="form-control input-lg" value="{{utilisateur.username}}" tabindex="4" title="pseudo" disabled="disabled"  >
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<h2><span class="label label-info">Nom</span></h2>
						<input type="text" name="first_name" id="first_name" class="form-control input-lg" value="{{utilisateur.firstname}}" tabindex="1" title="prénom"  disabled="disabled">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<h2><span class="label label-info">Prénom</span></h2>
						<input type="text" name="last_name" id="last_name" class="form-control input-lg" value="{{utilisateur.lastname}}" tabindex="2" title="nom"  disabled="disabled">
					</div>
				</div>
			</div>
			<div class="form-group">
				<h2><span class="label label-info">Email</span></h2>
				<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="4" title="email" value="{{utilisateur.email}}" disabled="disabled">
			</div>

			<hr class="colorgraph">
			<div class="form-group" id="modification">
				<a href="{{path('fos_user_change_password')}}" class="btn btn-danger btn-block btn-md">Modifier le mot de passe </a>
			</div>

			{% block javascript %}
			<script type="text/javascript">
			$( document ).ready(function() {
				$('#confirm-delete').on('show.bs.modal', function(e) {
					$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
				});
			});
			</script>
			{% endblock %}


			<button class="btn btn-danger btn-block btn-md" data-href="{{path ('wa_codenconf_delete_user', {'id' : app.user.id }) }}" data-toggle="modal" data-target="#confirm-delete">
				Supprimer le compte
			</button>

			<!--  La Modal qui se charge pour la confirmation -->
			
			<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
						</div>

						<div class="modal-body">
							<p>Cette action effacera votre compte définitivement. La connexion à ce compte sera dorénavant impossible, la suppression est définitive</p>
							<p>Voulez-vous continuer ?</p>
							<p class="debug-url"></p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<a class="btn btn-danger btn-ok">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</button>
	</div>
</div>
</div>
</div> 


<!-- end block body -->
{% endblock %}