{% extends 'base.html.twig' %} 

{% block title %}Profil{% endblock %} 
{% block body %}

<div class="container">
	{{ include('include/breadcrumb.html.twig', { 'breadcrumb': breadcrumb}) }}
	
	<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
		<div class="profil">
			<h1>Profil</h1>
			<hr class="colorgraph">
			<div class="profil_name">
				<div class="profil_avatar">
					<a class="pull-left" href="{{ path('wa_codenconf_profil', {'id': utilisateur.id}) }}"> 
						{% if utilisateur.imageProfil.path is not defined or utilisateur.imageProfil.path is null %}
								<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/imagepardefaut.svg') }}" alt="Photo de profil de l'utilisateur" />
						{% else %}
							<img class="img-responsive media-object dp img-circle" src="{{ asset('uploads/documents/'~utilisateur.imageProfil.path) }}" alt="Photo de profil par défaut" />										
						{% endif %}
					</a>
				</div>
				<div class="profil_pseudo">
					<span>{{utilisateur.username}}</span>
				</div>
			</div>
			
			<div class="profil_desc">
				{% if is_granted('ROLE_ADMIN') %}
				<div>
					<span class="labl">Type d'utilisateur : </span><span>Admin</span>
				</div>
				{% else %}
				<div>
					<span class="labl">Type d'utilisateur : </span><span>Membre</span>
				</div>
				{% endif %}
				<div>
					<span class="labl">Inscrit depuis le : </span><span>{{utilisateur.firstLogin|date("d/m/Y")}}</span>
				</div>
				<div>
					<span class="labl">Dernière connexion : </span><span>{{utilisateur.lastLogin|date("d/m/Y")}}</span>
				</div>
				<div>
					<span class="labl">Nombre de conférences ajoutées : </span><span>{{utilisateur.getCountConferencesCrees()}}</span>
				</div>
				<div>
					<span class="labl">Nombre de commentaires : </span><span>{{utilisateur.getCountCommentaires()}}</span>
				</div>
			</div>
			
			<div class="profil_conf">
				<ul class="section_hidden">
					<li class="section_hidden_item">
						<input id="check_box_conf" class="checkbox" type="checkbox" />
						<label for="check_box_conf">Conferences ajoutées</label>
						<div class="content ">
							{% if utilisateur.conferencesCrees is empty %}{{utilisateur.username}} n'a pas ajouté de conférences.{% endif %}
							{% for conference in utilisateur.conferencesCrees %}
								<div class="col-sm-12 col-md-6 no_padding">
									{{ include('include/baseCard.html.twig', {'conference':conference}) }}
								</div>
							{% endfor %}
						</div>
					</li>
				</ul>
			</div>
			
			<div class="profil_favs">
				<ul class="section_hidden">
					<li class="section_hidden_item"><input id="check_box"
						class="checkbox" type="checkbox" /> <label for="check_box">Favoris</label>
						<div class="content ">
							{% if utilisateur.conferencesCrees is empty %}{{utilisateur.username}} n'a pas favorisé de conférences.{% endif %}
							{% for conference in utilisateur.conferencesSuivies %}
								<div class="col-sm-12 col-md-6 no_padding">
									{{ include('include/baseCard.html.twig', {'conference':conference}) }}
								</div>
							{% endfor %}
						</div>
					</li>
				</ul>
			</div>
		</div>
		<hr class="colorgraph">
	</div>
</div>

<!-- end block body -->
{% endblock %}
