{% extends 'base.html.twig' %}

{% block body %}
	{% block javascript %}
		<script type="text/javascript">
		alert("{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}");
		window.location.href = "/";
		 </script>

	{% endblock %} 
{% endblock %}