{% extends "::base.html.twig" %}
{% block title %}Mon compte{% endblock %} 
{% block body %}

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

			<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

				<h1>Rénitialisation du mot de passe</h1>
				<hr class="colorgraph">
				<div class="form-group">
					<p> Afin d'obtenir un nouveau mot de passe, confirmez cette action en entrant votre
						nom d'utilisateur ou votre mail dans le champ suivant. Un lien vous sera alors envoyé sur votre email afin de poursuivre cette demande.</p>
						
						<div>
							{% if invalid_username is defined %}
								<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
							{% endif %}
							
						</div>
						<div class="form-group">
							<input type="text" id="username"class="form-control input-lg"  name="username" required="required" />
						</div>
					

						<div>
							<hr class="colorgraph">

							<input type="submit" class="btn btn-primary btn-block btn-lg" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}